MotorbikeConsumer/bin/
MotorbikeConsumer/obj/
MotorbikeConsumer/artifacts/
MotorbikeConsumer/*.exe
MotorbikeConsumer/*.dll
MotorbikeConsumer/*.pdb
MotorbikeConsumer/.vscode/
MotorbikeConsumer/.vs/
MotorbikeConsumer/*.user
MotorbikeConsumer/*.suo
MotorbikeConsumer/*.rsuser
MotorbikeConsumer/*.sln.docstates
MotorbikeConsumer/*.log
MotorbikeConsumer/*.tlog
MotorbikeConsumer/*.nupkg
MotorbikeConsumer/*.snupkg
MotorbikeConsumer/*.nuspec
MotorbikeConsumer/*.nuget.props
MotorbikeConsumer/*.nuget.targets
MotorbikeConsumer/packages/
MotorbikeConsumer/*.env
MotorbikeConsumer/secrets.json
MotorbikeConsumer/appsettings.Development.json
MotorbikeConsumer/.DS_Store
MotorbikeConsumer/Thumbs.db

RentalManager/bin/
RentalManager/obj/
RentalManager/artifacts/
RentalManager/*.exe
RentalManager/*.dll
RentalManager/*.pdb
RentalManager/.vscode/
RentalManager/.vs/
RentalManager/*.user
RentalManager/*.suo
RentalManager/*.rsuser
RentalManager/*.sln.docstates
RentalManager/*.log
RentalManager/*.tlog
RentalManager/*.nupkg
RentalManager/*.snupkg
RentalManager/*.nuspec
RentalManager/*.nuget.props
RentalManager/*.nuget.targets
RentalManager/packages/
RentalManager/*.env
RentalManager/secrets.json
RentalManager/appsettings.Development.json
RentalManager/.DS_Store
RentalManager/Thumbs.db